
.tic{
    color: red;
    font-size: 4vw;
    -webkit-text-stroke: 1.2px rgb(255, 7, 160);
}
.tac{
    color: lawngreen;
    font-size: 4vw;
    -webkit-text-stroke: 1.2px rgb(0, 255, 42);
}
.toe{
    color: blue;
    font-size: 4vw;
    -webkit-text-stroke: 1.2px rgb(4, 0, 255);
}
.tictactoe{
    font-weight:600;
   
    font-family:sans-serif;
}
.container{
   /* background-image: url("celebration2.gif");*/
    background-repeat:no-repeat;
    background-size:cover;
    border: 2px solid rgb(17, 4, 4);
    height: 42vw;
    width: 38vw;
    background-color:rgba(103, 105, 102, 0.507);
    overflow:hidden;
}
.player1{
    color: red;
    font-size: 2vw;
    font-weight: 600;
    -webkit-text-stroke: 1px blue;
}
.vs{
    color: rgb(241, 12, 100);
    font-size: 2vw;
    font-weight: 600;
    -webkit-text-stroke: 1px rgb(255, 0, 0);
}
.player2{  
    color: blue;
    font-size: 2vw;
    font-weight: 600;
    -webkit-text-stroke: 1px rgb(255, 0, 0);
    
}

.topbar{
    display: flex;
    gap:5vw;
}
.box{
  /*opacity: .5;*/
  height: 8vw;
  width: 8vw;
  border: 2px solid rgb(250, 250, 250);
  background-color: rgb(146, 142, 142);
  color: rgb(2, 19, 253);
  font-weight:600;
  display:flex;
  font-size: 5vw;
  justify-content: center;
  align-items: center;
  font-family:sans-serif;
  -webkit-text-stroke: 1px rgb(255, 0, 0);
}
.box:hover{
    background-color: rgb(61, 58, 58);
}
.innercontainerbox{
   /* opacity: 0.3;*/
    margin-left: 5.5vw;
}
.innercontainer1{
    display: flex;
}
.turns{
    font-size: 2vw;
    margin-top: 1vw;
    font-weight: bold;
    text-align: center;
}
.winlost{
    font-size: 2vw;
    margin-top: 1vw;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(181, 0, 252);
    -webkit-text-stroke: 1.5px aqua;
    visibility: hidden;
}
.score{
    display: flex;
    color: red;
    font-size:1.6vw;
    font-weight: bold;
    justify-content: space-around;
}
.scorex{
    display: none;
}
.scorey{
    display: none;
}
.newgame{
    margin-top: 1.1vw;
    font-size: 1.2vw;
    font-weight: bold;
    padding: .3vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    margin-left: 40%;
    outline:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(251, 255, 0);
    border: 2px solid rgb(17, 231, 231);
    border-radius: .8vw;
    display:none;
}
.dhar{
    display: inline;
    color: rgba(255, 255, 255, 0.116);
    float: right;
    margin-right: 1vw;
    margin-top: .6vw;
    font-size: 2vw;
}
